<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="braccio_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="base_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_pitch_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="gripper_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
